<%-include("partials/header")-%>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="logo.png" width="auto" height=" 40" class="d-inline-block align-top" alt="">
</a>
<div class ="htext" style="text-align:center">
    <a class="head" style=" text-align:center;font-size:30px;font-family:Montserrat;font-weight:700" >RESULT</a>
  </div>
<a class="head" style=" text-align:center;" >PLACEMENT INFORMATION SYSTEM</a>
</nav>
<h1>SUCCESS</h1>
<h1>“Try not to become a man of success. Rather become a man of value.”
― Albert Einstein</h1>
</body>
<footer>

  <h4 id="foot" style="margin-top:60px;font-size:20px;font-family:Montserrat;font-weight:400">To check your Results,Click-><a id="foot" href="/disp">Here</a></h4>

</footer>
</html>
